section.page-section.contact-us {
    padding: 50px 0px;

    .row-inner {
        display: grid;
        grid-template-columns: 60% 40%;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;


       

        .col-form {
            padding: 40px;

            .heading {
                margin-bottom: 60px;
                margin-top: 20px;
            }

            input {
                border: 2px solid #E5E9EE !important;
                padding: 16px 20px;
                /* color: white; */
            }

           .form-wrapper .gform_title {
                display: none;
            }

            .form-wrapper textarea {
                border: 2px solid #E5E9EE !important;
                height: 133px;
                padding: 20px;
            }

            .form-wrapper input.gform_button {
                color: white;
                background: #003E67;
                width: 50%;
                border:none !important;
                font-size: 18px!important;
                font-family: "Neue Plak Bold";
                padding: 20px !important;
            }
            
        }

        .col-contact {
            padding: 40px;

            .col-footer-info {
                border-bottom: 2px solid #EBEAED;
                margin-bottom: 40px;
                padding-bottom: 20px;
                max-width: 80%;
            
            
                ul {
                    padding: 0;
                    list-style-type: none;
    
                   li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 25px;
    
                        p {
                            margin-bottom: 0;
                            font-size: 20px;
                        }
    
                        img {
                            margin-right: 20px;
                            width: 24px;
                        }
                        
                        
                    }
                }
    
                h4 {
                    color: #003e67;
                    font-family: "Neue Plak 600";
                    font-size: 32px;
                    margin-bottom: 35px;
                }
            }

            .col-footer-social{
                 h4 {
                    color: #003e67;
                    font-family: "Neue Plak 600";
                    font-size: 32px;
                    margin-bottom: 35px;
                }
    
                
                ul.icon-social {
                    padding: 0;
                    list-style-type: none;
                    display: flex;

                    li {
                        padding: 0px 20px;
                    }
                }
    
            }
           
            

            
        }
        
    }
}








