
section.page-section.page-blog-list {
    padding: 50px 0px;

    .upper-inner-row {
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }

    
    .blogs-col-list {
        display: flex;
        flex-wrap: wrap;

        .blogs-item {
            width: 25%;
            padding: 15px;

            .blogs-inner{

                .blogs-content-inner {
                    background: #F4F7F9;
                    padding: 25px;

                    .blogs-date {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 21px;
                        color: #ACACAC;
                        margin-bottom: 10px;
                    }


                    .blogs-meta span {
                        font-size: 23px;
                        color: #D9D9D9;
                        padding: 0px 15px;
                    }

                    .blogs-name h4 {
                        font-size: 24px;
                        line-height: 34px;
                        letter-spacing: -0.03em;
                    
                        a {
                            color: #003E67;
                            text-decoration: none;
                            font-family: 'Neue Plak Extended Bold';
                        }
                        
                    }

                    .blogs-content p {
                        font-size: 20px;
                    }
                    
                    

                }

                .blogs-poster img {
                    width: 100%;
                    height: 320px;
                    object-fit: cover;
                }

                .blogs-link-first a {
                    font-size: 18px;
                    line-height: 150%;
                    color: #003e67;
                    font-family: "Neue Plak Bold";
                    text-decoration: none;
                    display: flex;
                    align-items: flex-end;
                                    
                    svg {
                        margin-right: 18px;
                    }
                }

                

                .blogs-link {
                    background: #F4F7F9;
                    padding: 25px;
                
                    a {
                        font-size: 18px;
                        line-height: 150%;
                    /* identical to box height, or 27px */
                        color: #003E67;
                        font-family: 'Neue Plak Bold';
                        text-decoration: none;
                        display: flex;
                        align-items: flex-end;

                        svg{
                            margin-right: 18px;
                        }
                    }
                }


                
                

            }
        }

    } 
}


